*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    color: $font-dark-grey;
    text-align: left;
}

header{
    position: relative;
    // background-image: url("../img/bg-header.png");
    color: white;
    img{
        width: 100%;
        height: auto;
    }
}
nav{
    position: absolute;
    top:2rem;
    left:20%
}

a{
    color: inherit;
    text-decoration:none;
}
li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.block-orange{
    background-color: $orange-block;
    color: white;
    padding:10px
}

.superposition{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    height: 500Px;
    right: 0;
    bottom: 0;
    transform: translate(0,50%);
    .block-orange{
        flex: 1 0 100%;
        width: 30%;
    }
    .right-col{
        flex: 0 0 50%;
        width:70%;
    }
}

#logo{
   position: absolute;
   right: 10px;
   top: 10px;
}
.bg-img-soleil{
    background-image: url("/public/img/header-couche-soleil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-white{
    background-color: white;
    color: $font-dark-grey;
}

.container-reduce{
    width: 80%;
    margin: 2rem auto;
}
#presentation{
    margin-top:28rem;
}
#presentation div{

    display: flex;
    flex-wrap: wrap;
    p{
        flex: 0 0 50%;
        padding: 10px;
    }
}

#cta{
  position: absolute;
  left: 20%;
  top: 50%;
  max-width:300px;
}

#portrait{
    position: relative;
    div{
        display: flex;
        position: absolute;
        bottom:0;
    }
}