*{
    margin: 0;
    padding: 0;

}
.social{
    margin: auto;
    width: 390px;
}
a{
    display: inline-block;
    width:84px;
    height: 84px;
    background-image: url("social-sprite.png");
    margin:5px;
    transition: background-position 500ms;
}

.facebook{
    background-position: 924px 84px;
}
.twitter{
    background-position: 252px 84px;
}
.youtube{
    background-position: 84px 84px;
}
.linkedin{
    background-position: 588px 84px;
    margin-right: 0;
}
.facebook:hover{
    background-position: 924px 168px;
}
.twitter:hover{
    background-position: 252px 168px;
}
.youtube:hover{
    background-position: 84px 168px;
}
.linkedin:hover{
    background-position: 588px 168px;
}

