*{
    margin: 0;
    padding: 0;

}
body{
    text-align: center;
}
.social{
    display: inline-block;
}
a{
    display: inline-block;
    width:84px;
    height: 84px;
    background-image: url("social-sprite.png");
    margin:5px;
    background-position-y: 84px;
    transition: background-position 500ms;
}
a:hover{
    background-position-y: 168px;
}

.facebook{
    background-position-x: 924px;
}
.twitter{
    background-position-x: 252px;
}
.youtube{
    background-position-x: 84px;
}
.linkedin{
    background-position-x: 588px;
    margin-right: 0;
}



