/* Import des feuilles de styles */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url("css/bg-color.css");

header{
    background-image: url("\img\bg-header.jpg");
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

ul a{
    display: inline-block;
}
nav{
    background-color: white;
    display: inline-block;
    margin: auto;
}